h1 {
    border: 2px solid gray;
}
.box {
    border: 3px solid red;
    padding: 2em;
    color: red;
}
.box2 {
    margin-top: 2em;
}
.box2 h1 {
    border: 3px dashed blue;
    padding: 1em;
    color: blue
}
.block li{
    border: 2px dashed green;
    padding: 1em;
    margin-bottom: 1em;
}
.inline li{
    display: inline;
    border: dashed blue;
    padding: 1em;
    color: red;
}
.inlineblock li{
    display: inline-block;
    border: dashed red;
    padding: 1em;
    margin: 1em;
    color: blue;
}