

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(rgb(255, 255, 163), rgb(235, 185, 93));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.5em;
}



.head {
    background: linear-gradient(rgb(108, 108, 255), rgb(41, 41, 122));
    display: grid;
    grid-auto-flow: column;
    padding: 1em;
    color: white;
    text-transform: uppercase;
}

.head div {
    max-width: 60%;
    margin: auto;
}

.nav {
    text-align: right;
}

.navText {
    margin-top: 2em;
    background: rgb(54, 59, 75);
    display: grid;
    grid-auto-flow: column;
    text-align: left;
}

.navText a {
    color: rgb(255, 255, 123);
    padding: 0.1em;
}

.foot {
    background: linear-gradient(rgb(108, 108, 255), rgb(41, 41, 122));
    color: white;
    display: grid;
    grid-auto-flow: column;
}

.foot nav {
    max-width: 60%;
    margin: auto;
}

.foot dt {
    color: yellow;
}

/* Links */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

/* Various Classes */

.wrap {
    text-align: left;
    max-width: 80%;
    margin: auto;
    min-height: 100vh;
    display: table;
}

.mainText {
    display: table-cell;
    vertical-align: middle;
}

.mainText h1,
.mainText h3 {
    color: rgb(44, 84, 124);
}

.mainText blockquote {
    background-color: #ffffff94;
    padding: 1em;
}

.mainText a {
    color: gray;
}

.mainText a:hover {
    color: lightgray;
}

.goTop {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 2em;
    color: rgb(38, 38, 70);
    padding: 10px;
    border-radius: 100%;
    background: white;
}

.altText {
    display: grid;
    grid: 1px
}

.altText h1 {
    color: rgb(64, 91, 119);
}