body {
    font-family: sans-serif;
    max-width: 50em;
    border: 2px solid black;
    padding: 2em;
    margin: 2em auto; /* top+bottem */
}
h2 {
    color: #A6A6A8 

}
.size {
    color: #A6A6A8 
}
.poem {
   font-style: italic;
   color: #407053
}
.poem strong{
    color: #294936
}
ol li {
    color: #407053
}
ul li {
    color: #294936
}
.elvis {
    color: #407053
}
.elvis strong {
    color: #294936
}
em {
    color: #407053
}
