body {
    font-family: sans-serif;
    max-width: 50em;
    border: 2px solid black;
    padding: 2em;
    margin: 2em auto; /* top+bottem */
}
h2 {
    color: darksalmon
}
.size {
    color: darksalmon
}
.poem {
   font-style: italic;
   color: darkslategray 
}
.poem strong{
    color: darksalmon
}
ol li {
    color: darkslategray
}
ul li {
    color: darkslategray
}
.elvis {
    color: darkslategray
}
.elvis strong {
    color: darksalmon
}